//===============================================================================
// §BUTTONS
//===============================================================================
.btn{
  @include border-radius(0);
  
  display: inline-block;
  padding: .4em .4em .45em .6em;
  border: 0;
  background-color: $brand;
  color: $paper;
  text-decoration: none;
  font-weight: normal;
  line-height: 1;

  &:hover{
    background-color: darken($brand, 7.5);
    color: $paper;
  }

  &:active{
    background-color: darken($brand, 15);
  }
}