//===============================================================================
// §LAYOUT
//===============================================================================
%layout-body{
  padding-top: 3em;
}

.wrap,
.inner-wrap{
  width: 85%;
  max-width: 38em;
}

.wrap{
  margin: 1em auto;
  padding-bottom: 4em;
}

.inner-wrap{
  margin: 0 auto;
}