//===============================================================================
// §LAYOUT
//===============================================================================
.wrap,
.inner-wrap{
  width: 80%;
  max-width: 38em;
}

.wrap{
  margin: 1em auto;
  padding-bottom: 4em;
}

.inner-wrap{
  margin: 0 auto;
}