//===============================================================================
// §VARIABLES
//===============================================================================
$paper: hsl(0, 0, 100);
$ink: hsl(25, 10, 20);
$brand: hsl(25, 100, 50);

$body-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$link-color: $brand;
$link-hover-color: darken($link-color, 10);

$footer: hsl(0, 0, 90);

//===============================================================================
// §IMPORTS
//===============================================================================
@import "compass/css3";
@import "_normalize.scss";
@import "_layout.scss";
@import "_typography.scss";
@import "_buttons.scss";

//===============================================================================
// §MIXINS
//===============================================================================

//===============================================================================
// §HELPER-CLASSES
//===============================================================================
.text-list{
  list-style: disc;
  padding-left: 1em;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

//===============================================================================
// §GLOBAL-STYLES
//===============================================================================
// apply box sizing everywhere
*{
  @include box-sizing(border-box);
}

body{
  @extend %type_body;

  background-color: $paper;
  color: $ink;
}

html,
body{
  height: 100%;
  margin: 0;
}

//===============================================================================
// §DEV-STYLES
//===============================================================================
.site-header{
  padding: .5em 0 .6em;
  line-height: 1;
  color: $paper;
  background: $brand;
}

.title{
  margin: 0;
}

.f-is-list{
  margin: 2em 0;
  position: relative;
}

.f-is-item{
}

.f-is{
  font-style: italic;

  &:before,
  &:after{
    font-size: 1.5em;
    display: inline-block;
    line-height: .5;
    color: $brand;
  }

  &:before{
    content: "“";
    margin: 0 .1em 0 -.6em;
  }

  &:after{
    content: "”";
    margin: 0 0 0 .1em;
  }
}

.name,
.linky{
  font-style: italic;
  font-weight: bold;
}

.name{
  display: inline;
  margin-right: .75em;
}

.linky{

  &:after{
    content: " »";
  }
}

.more{
  float: right;
  font-weight: bold;
  letter-spacing: .05em;

  &:after{
    content: " »";
  }
}

.about{
  background: $brand;
  font-weight: bold;
  text-decoration: none;
  display: block;
  height: 1.2em;
  width: 1.2em;
  padding: 0 .35em;
  line-height: 1.3em;

  position: fixed;
  bottom: .5em;
  right: .5em;

  @include border-radius(1em);
  color: $paper;

  &:hover{
    color: $paper;
    background: darken($brand, 7.5);
  }
}