//===============================================================================
// §VARIABLES
//===============================================================================
$paper: hsl(0, 0, 100);
$ink: hsl(0, 0, 0);
$body-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$link-color: hsl(220,100,40);
$link-hover-color: darken($link-color, 10);

//===============================================================================
// §IMPORTS
//===============================================================================
@import "compass/css3";
@import "_normalize.scss";
@import "_layout.scss";
@import "_typography.scss";
@import "_buttons.scss";


//===============================================================================
// §MIXINS
//===============================================================================

//===============================================================================
// §HELPER-CLASSES
//===============================================================================
.text-list{
  list-style: disc;
  padding-left: 1em;
}

//===============================================================================
// §GLOBAL-STYLES
//===============================================================================
// apply box sizing everywhere
*{
  @include box-sizing(border-box);
}

body{
  @extend %type_body;

  background-color: $paper;
  color: $ink;
}

//===============================================================================
// §DEV-STYLES
//===============================================================================