//===============================================================================
// §VARIABLES
//===============================================================================
$paper: hsl(0, 0, 100);
$ink: hsl(220, 50, 10);
$brand: $ink;

$body-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$quote-font: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;


$link-color: $brand;
$link-hover-color: darken($link-color, 10);

$footer: hsl(0, 0, 90);

//===============================================================================
// §IMPORTS
//===============================================================================
@import "compass/css3";
@import "_normalize.scss";
@import "_layout.scss";
@import "_typography.scss";
@import "_buttons.scss";


//===============================================================================
// §MIXINS
//===============================================================================

//===============================================================================
// §HELPER-CLASSES
//===============================================================================
.text-list{
  list-style: disc;
  padding-left: 1em;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

//===============================================================================
// §GLOBAL-STYLES
//===============================================================================
// apply box sizing everywhere
*{
  @include box-sizing(border-box);
}

body{
  @extend %type-body;
  @extend %layout-body;

  background-color: $paper;
  color: $ink;
}

html,
body{
  height: 100%;
  margin: 0;
}

//===============================================================================
// §DEV-STYLES
//===============================================================================
.site-header{
  padding: .5em 0 .6em;
  line-height: 1;
  color: $paper;
  background: $brand;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.title{
  margin: 0;
  color: $paper;
}

.sub-head{
  font-size: .75em;
  font-family: $quote-font;
  color: darken($paper, 55);
  background: darken($paper, 5);
  font-style: italic;
  padding: 2em 0 1em; 

  h2,
  h3{
    font-weight: normal;
  }

  h2{
    margin-bottom: 1em;
  }

  .inner-wrap{
    max-width: (38em * 1.333);
  }
}

.f-is-list{
  margin: 2em 0;
  position: relative;
}

.f-is-item{
}

.f-is{
  font-style: italic;
  font-family: $quote-font;

  &:before,
  &:after{
    font-size: 1.5em;
    display: inline-block;
    line-height: 1;
    color: $brand;
    position: absolute;
  }

  &:before{
    content: "“";
    margin: 0 .1em 0 -.5em;
  }

  &:after{
    content: "”";
    margin: 0 0 0 .1em;
  }
}

.name,
.linky{
  font-style: italic;
  //font-weight: bold;
}

.name{
  display: inline;
  margin-right: .75em;
  font-weight: bold;
}

.linky{

  &:after{
    content: " »";
  }
}

.more,
.submit{
  float: right;
  font-weight: bold;
  letter-spacing: .05em;
}

.more{
  margin-bottom: 2em;
}

.sub-title{
  font-size: 1.3em;
}

.ss-base-body{
  display: none !important;
}

form{
  margin-bottom: 4em;
}



@import "_media-q.scss";